
/* === GLOBAL STYLES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #F5F8FF;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
/* === NAVBAR === */
.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #d63384;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-menu a {
  margin-left: 2rem;
  font-weight: 500;
  color: #333;
}
.nav-menu img{
    width: 22px;
    height: 15px;
}
/* === HERO SECTION === */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 20rem;
  color:  #F5F8FF; 
}

.hero h2 {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

.hero h2 span {

  font-weight: bold;
  color: #E95A08;
}

.hero p {
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
  color: #555;

}
/* === PRODUCTS SECTION === */
.products {
  padding: 3rem 1rem;
  background-color: #f8f8f8;
  text-align: center;
}

.section-heading {
  font-size: 2rem;
  color:rgba(0, 0, 0, 1);
  margin-bottom: 0.5rem;
}
span{
     color:  #E95A08;
}

.section-description {
  max-width: 600px;
  margin: 0 auto 2rem;
  color: #666;
  font-size: 1rem;
}

.product-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.product-card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.price {
  color: #333;
  font-weight: bold;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: #E95A08;
  color: white;
  padding: 0.5rem 5rem;
  border-radius: 5px;
  font-size: 0.6rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: red;
}
/* Responsive Grid */
@media (min-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}